import(filehash)
import(Matrix)
import(methods)
import(proxy)
import(Snowball)
import(XML)

export(
       "activateCluster",
       "DataframeSource",
       "deactivateCluster",
       "stemCompletion",
       "getFilters",
       "getReaders",
       "getSources",
       "getTransformations",
       "makeChunks",
       "materialize",
       "readPlain",
       "readReut21578XML",
       "readRCV1",
       "readNewsgroup",
       "readGmane",
       "readPDF",
       "readHTML",
       "readDOC",
       "convertReut21578XMLPlain",
       "convertRCV1Plain",
       "convertMboxEml",
       "sFilter",
       "preprocessReut21578XML",
       "stopwords",
       "termFreq",
       "weightTf",
       "weightTfIdf",
       "weightBin",
       "weightLogical")

S3method("plot", "TermDocMatrix")

exportMethods(
              # Constructors
              "Corpus",
              "TextRepository",
              "TermDocMatrix",
              "Dictionary",
              "DirSource",
              "VectorSource",
              "CSVSource",
              "ReutersSource",
              "GmaneSource",
              "URISource",
              "FunctionGenerator",
              "WeightFunction",

              # TextDocument
              "Content",
              "Content<-",
              "Author",
              "Author<-",
              "DateTimeStamp",
              "DateTimeStamp<-",
              "Description",
              "Description<-",
              "ID",
              "ID<-",
              "Origin",
              "Origin<-",
              "Heading",
              "Heading<-",
              "Language",
              "Language<-",
              "LocalMetaData",

              "Cached",
              "Cached<-",
              "URI",

              "meta",
              "meta<-",
              "DublinCore",
              "DublinCore<-",

              # Corpus
              "DMetaData",
              "DMetaData<-",
              "CMetaData",
              "DBControl",

              # TextRepository
              "RepoMetaData",

              # TermDocMatrix
              "Data",
              "Data<-",
              "Weighting",
              "Weighting<-",

              # Sources
              "stepNext",
              "getElem",
              "eoi",

              # Functions
              "loadDoc",
              "tmUpdate",
              "tmMap",
              "asPlain",
              "stripWhitespace",
              "tmTolower",
              "stemDoc",
              "removeCitation",
              "removeNumbers",
              "removeMultipart",
              "removeSignature",
              "removeWords",
              "removePunctuation",
              "replacePatterns",
              "tmFilter",
              "tmIndex",
              "searchFullText",
              "tmIntersect",
              "as.matrix",
              "dim",
              "dimnames",
              "ncol",
              "colnames",
              "nrow",
              "rownames",
              "findFreqTerms",
              "findAssocs",
              "removeSparseTerms",
              "appendElem",
              "appendMeta",
              "prescindMeta",
              "removeMeta",
              "[",
              "[<-",
              "[[",
              "[[<-",
              "c",
              "coerce", # for setAs
              "length",
              "show",
              "summary",
              "inspect",
              "writeCorpus",
              "%IN%",
              "dissimilarity")

exportClasses("TextDocument",
              "PlainTextDocument",
              "XMLTextDocument",
              "Reuters21578Document",
              "RCV1Document",
              "NewsgroupDocument",
              "StructuredTextDocument",
              "Corpus",
              "MetaDataNode",
              "TextRepository",
              "TermDocMatrix",
              "Dictionary",
              "Source",
              "DataframeSource",
              "DirSource",
              "VectorSource",
              "CSVSource",
              "ReutersSource",
              "GmaneSource",
              "URISource",
              "FunctionGenerator",
              "WeightFunction")

useDynLib("tm")
